@import "tailwindcss";

@theme{
    --color-primary : #3B2E10;

}



@layer base {

    * {
        font-family: "Inter", sans-serif;
    }

    svg {
        width: 24px;
    }


}